body{
    font-family: 'Open Sans',sans-serif;
}
.banner-container{
    background-color: #572020;
}
.banner-column{
    background-color: #5d5b5b;
}
h1 {
    font-family: Georgia, serif;
    font-size: 46px;  
  }
  .navbar-conatainer{
background-color: #262B37;
  }
  .about-container{
    background-color: #c09e9e;
  }