body{
    font-family: 'Open Sans',sans-serif;
}
.banner-container{
    background-color: #572020;
}
.banner-column{
    background-color: #5d5b5b;
}
h1 {
    font-family: Georgia, serif;
    font-size: 46px;  
  }
  .navbar-conatainer{
background-color: #dcdee2;
  }
  .about-container{
    background-color: #c09e9e;
  }
  .education-container{
    background-color: #EEEEEE;
  }
  .redtype-color{
 color: rgb(229, 157, 24);
  }
  .circle{
    background-color: orange;
    width: 150px;
    height:150px;
    border-radius: 50%;
  }